@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
}

body {
  background-color: #ececec;
}

img {
  display: block;
}

.detail {
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
  color: #333;
}
